/* 
.city-card:hover .expose,
.city-card:focus .expose {


  display: block;
  font-size: 11.7px;
  color: #9a9a9a;
} */
/* Media Queries */
.top-cities-wrapper {
	width: 85%;
	display: flex;
	flex-direction: column;
	margin: 0px auto;
	height: 400px;
	padding-top: 25px;
	h1 {
		text-align: left;
		color: #545454;
		font-weight: 300;
		font-size: 27px;
	}
}
.top-cities-carousel-wrap {
	margin-top: 25px;
	height: 300px;
	width: 1170px;
	margin: 0 auto;
}
.city-card-wrapper {
	transition: all 0.3s ease-in-out;
}
.city-card {
	display: flex;
	flex-direction: column;
	width: 216px;
	height: 270px;
	cursor: pointer;
	border-radius: 5px;
	transition-duration: 2s;
	margin: 10px auto;
	box-shadow: -2px 4px 15px -3px rgba(0, 0, 0, 0.47);
	-webkit-transition: -webkit-transform 0.2s ease-in-out;
	transition: transform 0.2s ease-in-out, -webkit-transform 0.2s ease-in-out;
	&:hover {
		transform: translateY(-0.2em);
		box-shadow: -4px 8px 15px -3px rgba(0, 0, 0, 0.47);
		.city-details {
			bottom: 0px;
		}
		#city-hidden {
			p {
				transition: opacity 0.5s linear;
				transform: translate(0);
				opacity: 1;
			}
		}
	}
	&:focus {
		.city-details {
			bottom: 0px;
		}
		#city-hidden {
			p {
				transition: opacity 0.5s linear;
				transform: translate(0);
				opacity: 1;
			}
		}
	}
}
.city-card-img {
	background-size: cover;
	background-repeat: no-repeat;
	width: 216px;
	height: 219px;
}
#triangle {
	width: 0;
	height: 0;
	border-bottom: 30px solid #fff;
	border-right: 220px solid transparent;
	border-left: 0px solid transparent;
	position: absolute;
	bottom: 60px;
	-webkit-transition: -webkit-transform 0.5s ease-in-out;
	transition: bottom 0.5s ease-in-out, -webkit-transform 0.5s ease-in-out;
	margin-bottom: 0px;
	transition: bottom 3s ease-in-out;
}
.city-details {
	width: 216px;
	min-height: 50px;
	background-color: white;
	transition: display 1s ease-in-out;
	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;
	display: flex;
	flex-direction: column;
	p {
		color: #545454;
		font-size: 13.5px;
		text-align: left;
		padding-left: 22px;
		line-height: 15px;
		margin: 0px;
		padding-top: 10px;
		z-index: 10;
	}
}
#city-hidden {
	height: 40px;
	p {
		transform: translate(9999px);
		opacity: 0;
		font-size: 11.7px;
		color: #9a9a9a;
		padding-top: 3px;
		padding-bottom: auto;
		-webkit-transition: display 0.5s ease-out;
		-moz-transition: display 0.5s ease-out;
		-o-transition: display 0.5s ease-out;
		transition: display 0.5s ease-out;
	}
}
.city-hidden {
	p {
		font-size: 11.7px;
		color: #9a9a9a;
		margin: 0px;
		padding-top: 0px;
		line-height: 12px;
	}
}
.expose {
	transition-duration: 1s;
	font-size: 11.7px;
	color: #9a9a9a;
}
.city-arrow {
	img {
		font-size: 20px;
	}
}
.section-divide-hr {
	width: 85%;
	height: 1px;
	margin-bottom: 0px;
	background-color: #e7e7e7;
	border: none;
}

/* Picked Card */
/* View More */
/* Media Queries */
.headout-picks-wrapper {
	width: 85%;
	margin: 35px auto;
	height: 420px;
}
.headout-picks-nav {
	display: flex;
	justify-content: space-between;
	align-items: center;
	height: 55px;
	h1 {
		color: #545454;
		font-weight: 300;
		font-size: 27px;
		margin: 0px;
	}
}
.view-all {
	display: flex;
	align-items: center;
	justify-content: flex-end;
	cursor: pointer;
	color: #545454;
	h3 {
		margin: 0px;
		font-size: 16.2px;
		line-height: 22.68px;
		font-weight: 400;
	}
	i {
		font-size: 18px;
		padding-left: 6px;
		padding-right: 6px;
	}
	&:hover {
		color: #4fc3f7;
		i {
			padding-left: 8px;
			padding-right: 4px;
		}
	}
}
.top-picked-carousel-wrap {
	width: 1150px;
	margin: 0 auto;
}
.exp-card {
	width: 270px;
	height: 297px;
	position: relative;
	box-shadow: -1px 4px 20px -3px rgba(80, 79, 79, 0.3);
	margin: 10px 10px;
	cursor: pointer;
	-webkit-transition: -webkit-transform 0.3s ease-in-out;
	transition: transform 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
	.cashback {
		&:after {
			content: '';
			width: 0;
			height: 0;
			border-left: 10px solid transparent;
			border-right: 0;
			border-top: 1em solid #545454;
			position: absolute;
			left: 0;
			bottom: -1em;
		}
	}
	&:hover {
		transform: translateY(-0.2em);
		box-shadow: -4px 8px 15px -3px rgba(80, 79, 79, 0.4);
	}
}
.cashback {
	padding: 0px 16px;
	background: #4fc3f7;
	position: absolute;
	z-index: 1;
	top: 15px;
	left: -10px;
	color: #fff;
	border-top-right-radius: 0.3em;
	border-bottom-right-radius: 0.3em;
	-webkit-box-shadow: 0 5px 30px 0 rgba(0, 0, 0, 0.1);
	-moz-box-shadow: 0 5px 30px 0 rgba(0, 0, 0, 0.1);
	box-shadow: 0 5px 30px 0 rgba(0, 0, 0, 0.1);
	p {
		font-size: 9px;
		padding: 5px 0px;
		margin: 0;
		font-weight: 700;
	}
}
.exp-heart {
	i {
		color: white;
		font-size: 20px;
		position: absolute;
		right: 10px;
		top: 15px;
		font-weight: 400;
		transition: transform 0.3s ease-in-out;
		&:hover {
			font-weight: 700;
			transform: scale(1.15);
			color: #f43361;
		}
	}
}
.exp-card-img {
	background-size: cover;
	background-repeat: no-repeat;
	width: 270px;
	height: 166px;
}
.exp-info-wrap {
	padding-left: 12px;
	display: flex;
	flex-direction: column;
	margin: 0px;
}
#exp-city {
	text-align: left;
	color: #9a9a9a;
	font-weight: 500;
	font-size: 13px;
	margin: 0px;
	padding-top: 8px;
	padding-bottom: 5px;
}
#exp-about {
	text-align: left;
	color: #b9b9b9;
	font-size: 11px;
	line-height: 15px;
	padding-top: 8px;
	margin-bottom: 3px;
	margin-top: 0px;
}
#exp-description {
	color: #545454;
	font-size: 13px;
	line-height: 20px;
	font-weight: 500;
	text-align: left;
	margin: 0px;
	padding-right: 5px;
}
.exp-content-wrap {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	height: 131px;
}
.price-section {
	display: flex;
	justify-content: space-between;
	align-items: flex-end;
	margin: 0 10px;
	height: auto;
}
.discount {
	color: #49d1fd;
	font-size: 11px;
	text-align: left;
	padding-bottom: 12px;
	p {
		margin: 0px;
		padding-top: 10px;
		color: #49d1fd;
	}
	i {
		padding: 0 3px;
	}
}

.ratings-section {
	display: flex;
	align-items: center;
	padding-bottom: 10px;
	p {
		color: #9a9a9a;
		font-size: 11px;
		margin: 0px;
	}
}
.stars {
	width: 55px;
	height: 18px;
	border-radius: 10px;
	background: linear-gradient(340deg, #ffbb58, #f5c684);
	padding-top: 1px;
}
#stars-p {
	color: white;
	font-weight: 700;
}
#star {
	margin-left: 5px;
}
#ratings {
	padding-left: 6px;
	font-size: 10.8px;
}
.price {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: flex-end;
	p {
		color: #9a9a9a;
		font-size: 11px;
		margin: 0px;
	}
}
#last-price {
	font-size: 13px;
	padding: 1px 0px;
	text-decoration: line-through;
}
#price {
	color: #545454;
	font-size: 19.8px;
	padding-bottom: 10px;
}
#like {
	position: absolute;
	top: 10;
	left: 10;
}
.show-more {
	width: 100%;
	height: 100%;
	background-image: linear-gradient(90deg, #fd8383, #ff2e73);
	display: flex;
	justify-content: center;
	align-items: center;
	p {
		margin: 0px;
		background: -webkit-linear-gradient(45deg, #8f6b29, #fde08d, #df9f28);
		background: linear-gradient(45deg, #8f6b29, #fde08d, #df9f28);
		color: rgba(0, 0, 0, 0.8);
		opacity: 0.9;
		font-weight: 500;
		font-size: 13.5px;
		width: 140px;
		height: 50px;
		line-height: 50px;
		text-align: center;
	}
}
@media only screen and (min-width: 1200px) and (max-width: 1300px) {
	.headout-picks-wrapper {
		width: 95%;
	}
}
@media only screen and (min-width: 1600px) {
	.headout-picks-wrapper {
		width: 70%;
	}
}



@media only screen and (min-width: 1200px) and (max-width: 1300px) {
	.top-cities-wrapper {
		width: 95%;
	}
}
@media only screen and (min-width: 1600px) {
	.top-cities-wrapper {
		width: 70%;
	}
	.section-divide-hr {
		width: 70%;
	}
}
